.sidebar-section {
  display: flex;
  background-color: #e0e1dd;
}

.sidebar {
  height: 100vh;
  background-color: #1b263b;
  width: 45px;
  position: fixed;
}
.sidebar-toggle {
  width: 190px;
}

.sidebar-toggle-icons {
  display: flex;
  justify-content: right;
  align-items: right;
  cursor: pointer;
}

.sidebar-toggle-icons p svg {
  background-color: #e0e1dd;
  color: #1b263b;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
